

<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Frontend01</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFaXNvUSNlqQoqlNBgCgppWcSeYxb5kDM"></script>

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="pag-inicio.component.css">

</head>
<body>
  <!--ENCABEZADO-->
  <header id="header">
    <div class="header_top clearfix affix-top">
      <div class="container">
        <div class="header_socials">
          <a target="_blank" href="https://www.facebook.com/pmmcourier"><i class="fa fa-facebook"></i></a>
          <a target="_blank" href="https://www.instagram.com/pmmcourier.oficial/"><i class="fa fa-instagram"></i></a>
        </div>
        <div class="logo typing">PMM COURIER</div>
      </div>
      <div class="top_nav affix-top">
        <div class="container">
          <div class="top_nav_wrapper clearfix">
            <ul>
              <li class="nav-item">
                <a href="#" class="navbar-brand" [routerLink]="'/Inicio'">Pmmcourier</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link" [routerLink]="'/Tarifario'">Tarifario </a>
              </li>
              <li class="nav-item" >
                <!--*ngIf="showAdminBoard"-->
                <a href="#" class="nav-link" [routerLink]="'/OrdenServicio/crear'">Servicio</a>
              </li>
            </ul>
            <div class="icon_text clearfix">
              <div class="icon"><i class="fa fa fa-phone"></i></div>
              <div class="text"><strong>+51 942 087 247</strong></div>
            </div>
          </div>
        </div>
        <div class="mobile_header">
          <div class="logo_wrapper clearfix">
            <div id="menu_toggle">
              <button></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--ACORDEON DE IMAGENES-->
  <section>
    <div class="ul-acordeon">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>

    <!-- Menu Section -->
  </section>

  <section class="py-5 py-lg-5 bg-black"
    style="background-color: rgb(129, 178, 233) !important; --darkreader-inline-bgcolor:#235fdf;"
    data-darkreader-inline-bgcolor="">
    <div class="container py-lg-5">
      <div class="row">
        <div>
          <div style="background-color: rgb(87, 148, 218) !important; --darkreader-inline-bgcolor:#235fdf;"
            data-darkreader-inline-bgcolor="" id="about">
            <h3 class="w3-center">ACERCA DE NOSOTROS</h3>
            <div class="center">
              <div class="column">
                <i class="w3-jumbo">
                  <img src="/imagenes/vision.png" class="w3-image w3-greyscale" style="width:20%">
                </i>
                <p class="w3-large center">Vision🛵</p>
                <p class="center">
                  Ser líderes en Lima y Callao destacando en el rubro logístico siendo parte objetivamente y
                  responsablemente de resolver y atender todas las necesidades de
                  envíos de nuestros clientes con el fin de ser la mejor empresa courier que brinda servicios con
                  importancia humana,empatía y eficacia.
                </p>
              </div>
              <div class="column">
                <i class="w3-jumbo w3-center">
                  <img src="/imagenes/compromiso.png" class="w3-image w3-greyscale" style="width:20%">
                </i>
                <p class="w3-large center">Compromiso🛵</p>
                <p class="center">

                  Que PMM Courier sea reconocida como una empresa de Clase Nacional, dando soluciones logísticas de
                  alta
                  calidad,
                  contando con el compromiso de nuestra propia flota terrestre en el ámbito nacional mediante
                  sucursales
                  propias
                  y franquicias, basadas en la filosofía de servicio con responsabilidad social y preservación del
                  medio
                  ambiente.
                </p>

              </div>
              <div class="column">
                <i class=" w3-jumbo">
                  <img src="/imagenes/objetivo.png" class="w3-image w3-greyscale" style="width:20%">
                </i>
                <p class="w3-large">
                  Misión🛵
                </p>
                <p class="center">
                  Establecer una relación de confianza y eficacia atendiendo todas las solicitudes de envío de
                  nuestros
                  clientes,
                  ofreciendo transporte de encomiendas, documentación jurídica y administrativa, con precios
                  accesibles,siendo parte
                  de su logro y éxito.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <!-- Skills Section METODO DE PAGO -->
  <div class="w3-container w3-dark-grey  w3-padding-64">
    <div class="w3-row-padding">
      <div class="w3-col m6">
        <h3><strong>Metodo de Pago</strong></h3>
        <p>Atraves de nuestro canal de atencion via WhatsApp envie el comprobante de pago, siendo este el vaucher
          generado en cualquier entidad financiera<br>
          oh a traves de su banca movil.</p>

      </div>
      <div class="w3-col m6">
        <p class="w3-wide"><i class=""></i>Cuenta Corriente BBVA</p>
        <div class="w3-grey">
          <div class="w3-container w3-light-grey w3-center" style="width:50%">#########################</div>
        </div>
        <p class="w3-wide"><i class=""></i>Cuenta Corriente Scotiabank</p>
        <div class="w3-grey">
          <div class="w3-container w3-light-grey w3-center" style="width:50%">#########################</div>
        </div>
        <p class="w3-wide"><i class="">
          </i>Cuenta Corriente BCP</p>
        <div class="w3-grey">
          <div class="w3-container w3-light-grey w3-center" style="width:50%">#########################</div>
        </div>
      </div>
    </div>
  </div>

  <div class="c-section c-section--curveFooter position-relative">
    <div class="c-content--curved">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="c-img-width">
        <path fill="rgb(255, 113, 119)" fill-opacity="1"
          d="M0,192L120,165.3C240,139,480,85,720,85.3C960,85,1200,139,1320,165.3L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"
          data-darkreader-inline-fill="" style="--darkreader-inline-fill:#247eeb;"></path>
      </svg>
    </div>
    <div class="container__fluid">
      <div class="row">
        <div class="col s12 m12 l6">
          <div>
            <a href="hola" class='ipad'>Generar Nueva Orden</a>
          </div>
        </div>
        <div class="offset-l1 col s12 m12 l5">
          <div class="c-content--plataform c-box-shadow">
            <h2 class="title">
              Plataforma de envíos </h2>
            <div class="c-section__paragraph">
              <p>Donde las empresas y personas podrán programar sus envíos desde donde estén y de
                manera sencilla. Sigue los siguientes pasos:</p>
            </div>
            <div class="c-section__list" style="margin: 30px 0px 0px;">
              <ul>
                <li style="position: relative;"><span class="order-list">
                    1 </span> <span class="order-information c-content-vertical-align">
                    <div>Ingresa a la plataforma</div>
                  </span></li>
                <li style="position: relative;"><span class="order-list">
                    2 </span> <span class="order-information c-content-vertical-align">
                    <div> Elige la opcion "Generar nueva orden"</div>
                  </span></li>
                <li style="position: relative;"><span class="order-list">
                    3 </span> <span class="order-information c-content-vertical-align">
                    <div> Completa los datos de tu envío y ¡LISTO!</div>
                  </span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





  <!-- Footer -->
  <footer class="w3-center w3-black w3-padding-64">
    <div class="column center">
      <h3 class="w3-center">CONTACTO</h3>
      <p><i class="fa fa-map-marker fa-fw w3-xxlarge"></i>Perú 150135 San Martín de Porres, Peru</p>
      <p><i class="fa fa-phone fa-fw w3-xxlarge"></i> Telefono: +51 942 087 247</p>
      <p><i class="fa fa-envelope fa-fw w3-xxlarge"></i>  Email: pmmcourier@gmail.com</p>
      <br>
    </div>
  </footer>
  <app-root></app-root>



</body>

</html>
