<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand" [routerLink]="'/Inicio'">Pmmcourier</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a href="#" class="nav-link" [routerLink]="'/Tarifario'">Tarifario </a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <!--*ngIf="showAdminBoard"-->
        <a href="#" class="nav-link" [routerLink]="'/OrdenServicio/crear'">Servicio</a>
      </li>

      <li class="nav-item" *ngIf="isLoggedIn">
        <!--*ngIf="showAdminBoard"-->
        <a href="#" class="nav-link" [routerLink]="'/tarifas'">Tarifas</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <!--*ngIf="showAdminBoard"-->
        <a href="#" class="nav-link" [routerLink]="'/Distrito'">Distrito</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <!--*ngIf="showAdminBoard"-->
        <a href="#" class="nav-link" [routerLink]="'/Colaborador'">Colaboradores</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <!--*ngIf="showAdminBoard"-->
        <a href="#" class="nav-link" [routerLink]="'/Motorizado'">Motorizado</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <!--*ngIf="showAdminBoard"-->
        <a href="#" class="nav-link" [routerLink]="'/OrdenServicio'">Ordenes de Servicio</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/login" class="nav-link" [routerLink]="'/Login'"
          >Iniciar Session</a
        >
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">Salir</a>
      </li>
    </ul>
  </nav>
</div>
