<div style="width: 400px; margin: auto;">

  <div *ngIf="ordenentregaActual"  class="edit-form">
    <h4>Actualizar Estado</h4>
    <form>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Paquete</span
        >
        <input
          type="Date"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
          placeholder="Aquí aparecera el codigo de paquete"
          id="ordenrecojoActual"
          [(ngModel)]="ordenentregaActual.fechaE"
          name="fechaR"
        />
      </div>
      <div class="form-group">
        <label for="id_tarifa">Motorizado</label>
        <br>
        <select name="id_tarifa" [(ngModel)]="ordenentregaActual.motorizadoentrega" >
          <option [ngValue]="item" *ngFor="let item of motorizados">{{item.disponibilidad.disponibilidad + " - " + item.nroMatricula  + ", " + item.zona.zona}}</option>
        </select>
      </div>
    </form>

    <br>

    <div>
      <button
      type="submit"
      class="btn btn-success"
      (click)="ActualizarOE()"
      >
        Actualizar
      </button>

      <button
      type="submit"
      class="btn btn-secondary"
      style="margin-left: 5px;"
      (click)="regresar()"
      >
        Regresar
      </button>

      <p>{{mensaje}}</p>
    </div>

  </div>

</div>
