<app-barra></app-barra>
<br />
<div class="container mt-2">

  <h1 align="center">SERVICIO DE COURIER</h1>

  <div *ngIf="mensaje">
    <div class="alert alert-success alerta" role="alert">{{mensaje}}</div>
  </div>


  <div class="paquete">
    <form>
      <div>
        <u><h4>Datos de Paquetería</h4></u>
        <br />
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Paquete</span
          >
          <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
            placeholder="Ingresar Descripcion"
            id="paquete"
            [(ngModel)]="servautonuevo.paquete.descripcionpqt"
            name="descripcionpqt"
          />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Paquete</span
          >
          <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
            placeholder="Ingresar la cantidad"
            id="paquete"
            [(ngModel)]="servautonuevo.paquete.cantidadpqt"
            name="cantidadpqt"
          />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Tipo de paquete</span
          >
          <select name="id_tarifa" [(ngModel)]="servautonuevo.paquete.tipopqt">
            <option [ngValue]="item" *ngFor="let item of tipopqt">
              {{ item.tipoPQT }}
            </option>
          </select>
        </div>
      </div>
    </form>
  </div>

  <div class="ordenrecojo">
    <form>
      <div>

        <u><h4>Orden de recojo</h4></u>

        <h5>Datos del emisor</h5>

        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Emisor</span
          >
          <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
            placeholder="Ingresar DNI"
            id="ordenrecojo"
            [(ngModel)]="servautonuevo.ordenrecojo.dniEm"
            name="dniEm"
          />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Emisor</span
          >
          <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
            placeholder="Ingresar Nombres completos"
            id="ordenrecojo"
            [(ngModel)]="servautonuevo.ordenrecojo.nomComplEmisor"
            name="nomComplEmisor"
          />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Emisor</span
          >
          <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
            placeholder="Ingresar Numero de celular"
            id="ordenrecojo"
            [(ngModel)]="servautonuevo.ordenrecojo.celularEm"
            name="celularEm"
          />
        </div>

        <h5>Datos de recojo</h5>

        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Recojo</span
          >
          <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
            placeholder="Ingresar direccion de recojo"
            id="ordenrecojo"
            [(ngModel)]="servautonuevo.ordenrecojo.direccionR"
            name="direccionR"
          />
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Fecha para el recojo</span
          >
          <input
            type="date"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
            id="ordenrecojo"
            [(ngModel)]="servautonuevo.ordenrecojo.fechaR"
            name="fecha_recojo"
          />
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Distrito recojo</span
          >
          <select name="id_tarifa" [(ngModel)]="servautonuevo.ordenrecojo.distritoR">
            <option [ngValue]="item" *ngFor="let item of distrito">
              {{ item.distrito }}
            </option>
          </select>
        </div>
      </div>

      <br />
    </form>
  </div>

  <div class="ordenentrega">
    <form>
      <div>
        <u><h4>Orden de Entrega</h4></u>
        <h5>Datos del Receptor</h5>

        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Recpetor</span
          >
          <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
            placeholder="Ingresar DNI"
            id="ordenentrega"
            [(ngModel)]="servautonuevo.ordenentrega.dniRec"
            name="dniRec"
          />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Receptor</span
          >
          <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
            placeholder="Ingresar Nombres completos"
            id="ordenentrega"
            [(ngModel)]="servautonuevo.ordenentrega.nomComplReceptor"
            name="nomComplEmisor"
          />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Receptor</span
          >
          <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
            placeholder="Ingresar Numero de celular"
            id="ordenentrega"
            [(ngModel)]="servautonuevo.ordenentrega.celularRec"
            name="celularRec"
          />
        </div>

        <h5>Datos de recojo</h5>

        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Recojo</span
          >
          <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
            placeholder="Ingresar direccion de recojo"
            id="ordenentrega"
            [(ngModel)]="servautonuevo.ordenentrega.direccionE"
            name="direccionE"
          />
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Fecha para la entrega</span
          >
          <input
            type="date"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
            id="ordenentrega"
            [(ngModel)]="servautonuevo.ordenentrega.fechaE"
            name="fechaE"
          />
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Distrito Entrega</span
          >
          <select name="id_tarifa" [(ngModel)]="servautonuevo.ordenentrega.distritoE">
            <option [ngValue]="item" *ngFor="let item of distrito">
              {{ item.distrito }}
            </option>
          </select>
        </div>
      </div>
      <br />
    </form>
    <div class="form-group" align="right">
    <button
      type="submit"
      class="btn btn-outline-secondary"
      (click)="crearServicio()"
    >
      crear
    </button>
  </div>
  </div>


</div>
