<div style="width: 400px; margin: auto;">

  <div *ngIf="tarifaActual"  class="edit-form">
    <h4>Actualizar Tarifa</h4>
    <form>

      <div class="form-group">
        <label for="tarifa">Tarifa</label>
        <input
          type="text"
          class="form-control"
          id="tarifa"
          [(ngModel)]="tarifaActual.tarifa"
          name="tarifa"
        />

      </div>
    </form>

    <br>

    <div>
      <button
      type="submit"
      class="btn btn-success"
      (click)="Actualizartarifa()"
      >
        Actualizar
      </button>

      <button
      type="submit"
      class="btn btn-secondary"
      style="margin-left: 5px;"
      (click)="regresar()"
      >
        Regresar
      </button>

      <p>{{mensaje}}</p>
    </div>

    <div *ngIf="!tarifaActual">
      <br>
      <p>Accediendo a la tarifa</p>
    </div>

  </div>

</div>
